/* Estilos generales */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    display: flexbox;
    background-color: #ebf0f6; /* Fondo */
}

h1, h2, h3 {
    margin: 0;
    line-height: 1.2;
    color: #333; /* Texto principal */
    text-align: center; /* Centrar los títulos */
}

p {
    margin: 0.5rem 0; /* Agregar espacio arriba y abajo */
    color: #333; /* Texto principal */
    text-align: justify; /* Justificar el texto */
}

a {
    color: #7b3578; /* Secundario */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilos de encabezado y navegación */
header {
    background-color: #06090d; /* Fondo */
    color: #fff; /* Texto */
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff; /* Texto */
    padding: 0 1rem;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Estilos de las secciones */
section {
    padding: 4rem 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
   
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

section:nth-child(even) {
    background-color: #97aed2; /* Fondo alternativo */
    color: #fff; /* Texto */
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
}

section li {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

section li:nth-child(3n+1) {
    margin-left: 0;
}
.project-info {
    text-align: center;
    margin-bottom: 20px;
  }
.project-info p {
    max-width: 300px; /* Ajusta el ancho máximo según sea necesario */
    font-size: 14px;
    margin: 0 auto; /* Alinea horizontalmente el contenedor del texto */
}

/* Estilos de la sección de contacto */
footer {
    padding: 2rem;
    text-align: center;
    background-color: #7b3578; /* Fondo */
    color: #fff; /* Texto */
}

footer h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer p {
    max-width: 30rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    margin: 0 1rem;
}

/* Animaciones de secciones */
.section-enter {
    animation: fade-in 1s ease-out forwards;
  }
  
  .section-exit {
    animation: fade-out 1s ease-out forwards;
  }
  
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .fade-in.is-intersecting {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-out {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-out.is-intersecting {
    opacity: 0;
    transform: translateY(20px);
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  /* Carrusel de imágenes para los proyectos*/

  .carousel {
    position: relative;
    max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto;
    overflow: hidden;
    border: 3px solid #000000; /* Agrega un borde para delimitar el carrusel */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega sombra para resaltar el carrusel */
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease;

  }
  
  .slides img {
    width: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen para que cubra el contenedor */
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

